<div class="page-container center">
  <div class="quiz-page-container center">
    <app-header style="width: 100%"></app-header>

    <div class="quiz-wrapper">
      <app-progress-bar [data]="data"></app-progress-bar>

      <div class="quiz-container">
        <app-quiz (answered)="changeButton()" (showSong)="setSongAndScore($event)" [tab]="activeTab"></app-quiz>

        <div class="song-info-container">
          <ng-container *ngIf="data">
            <app-song-info [song]="data[activeTab - 1].data[activeSong - 1]" [position]="activeSong"></app-song-info>
          </ng-container>
        </div>
      </div>

    </div>

    <div class="next-page-container">
      <app-button
        (buttonClick)="nextQuestion()"
        [disabled]="!isAnswer"
        text="{{activeTab === 4 ? 'see my score' : 'next question'}}"
        icon="arrow_right_alt"></app-button>
    </div>
  </div>
</div>
