<ng-container *ngIf="song">
  <div class="player-wrapper">

    <div class="player-btn">
      <ng-container *ngIf="bgImg">
        <div *ngIf="isAnswer" class="bg img" [ngStyle]="{ 'background-image': 'url(' + environment.imagePath + song.image + ')'}"></div>

        <img *ngIf="!isAnswer" class="img" src="/assets/img/default-song-bg.png" alt="song image">
      </ng-container>

      <div [ngClass]="bgImg ? 'position' : ''" class="button-container">
         <span  class="material-symbols-outlined play-pause-btn" (click)="togglePlaying()">
        {{playing ? 'pause_circle' : 'play_circle'}}
       </span>
      </div>
    </div>

    <div class="player-container">
      <input [formControl]="value"
             [ngStyle]="{'background-size': currentProgress + '% 100%'}"
             type="range"
             min="0" [max]="songLength"
             step="0.1"
             [value]="currentLength"
             class="player">

      <div class="player-time-container">
        <p>--:--</p>

        <p>--:--</p>
      </div>
    </div>

<!--    <p>{{ value.value }}</p>-->

<!--    <audio-->
<!--      controls-->
<!--      [src]="environment.imagePath + song.audio">-->
<!--      Your browser does not support the-->
<!--      <code>audio</code> element.-->
<!--    </audio>-->

  </div>
</ng-container>
