.player-wrapper {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: .5rem 2rem 1rem 1rem;
}

.padding {
  padding: 2rem;
}

.player-btn {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  height: 7rem;
}

.position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.play-btn {
  font-size: 5rem;
  opacity: .7;
  cursor: pointer;
  transition: all .2s;
  text-align: center;

  &:hover {
    font-size: 6rem;
    opacity: .9;
  }
}

.player-container {
  position: relative;
  display: flex;
  flex: 1;

  .player-time-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: .6rem;
    left: 0;
    right: 0;
  }
}

input {
  z-index: 1;
  flex: 1;
  -webkit-appearance: none;
  height: 5px;
  border-radius: 5px;
  background-color: #494D77;
  background-image: linear-gradient(270deg, #7E55B3 0%, #A769C4 100.02%);
  cursor: pointer;

  background-repeat: no-repeat;

  &:hover::-webkit-slider-thumb {
    height: 19px;
    width: 19px;
    border: solid #373B62 2px;
    transform: rotateX(-10px);
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: #FFF;
    cursor: pointer;
    transition: all .2s ease-in-out;
  }

  &::-moz-range-thumb, &::-ms-thumb {
    -webkit-appearance: none;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: #FFF;
    cursor: pointer;
    transition: all .2s ease-in-out;
  }

  &::-webkit-slider-runnable-track, &::-moz-range-track, &::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background-color: transparent;
  }
}

.img {
  width: 11rem;
  height: 11rem;
  border-radius: 5px;
}

.bg {
  background-size: cover;
  background-position: center;
}

.material-symbols-outlined {
 font-variation-settings:
   'FILL' 1,
   'wght' 400,
   'GRAD' 0,
   'opsz' 48
}
