.button {
  position: relative;
  display: flex;
  align-items: center;
  gap: .5rem;
  background: linear-gradient(90deg, #7E55B3 -0.37%, #A769C4 100.37%);
  border: none;
  border-radius: .5rem;
  padding: 1em 2rem;
  cursor: pointer;
  transition: all .1s;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    background: rgba(0, 0, 0, 0.3);
    transition: all .1s;
    opacity: 0;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    background: linear-gradient(90deg, #808080 -0.37%, #656565 100.37%);
    transition: all .2s;
    opacity: 0;
  }

  &:disabled {
    user-select: none;
    pointer-events: none;

    &::before {
      opacity: 1;
    }
  }

  &:hover::after {
   opacity: 1;
  }

  &:active {
    transform: translateY(5px);
  }
}

.btn-text {
  line-height: 2rem;
  z-index: 2;
}
