.background {
  width: 100%;
  height: 100%;
  background-color: #12131E;
  position: absolute;
  top: 0;
  overflow: hidden;
}

@keyframes blink {
  0% {
  opacity: .4;
  }
  50% {
    opacity: .2;
  }
  100% {
    opacity: .4;
  }
}

.circle {
  border-radius: 50%;
  position: absolute;
  width: 80rem;
  height: 80rem;
  opacity: .4;
}

.с-red {
  background: radial-gradient(32.48% 31.5% at 50% 50%, #F54B4B 0%, rgba(255, 69, 69, 0) 100%);
  top: -20%;
  left: -10%;
  -webkit-animation: blink 9s infinite;
  -moz-animation: blink 9s infinite;
  -o-animation: blink 9s infinite;
  animation: blink 9s infinite;
}

.с-blue {
  background: radial-gradient(32.48% 31.5% at 50% 50%, #4BAEF5 0%, rgba(69, 166, 255, 0) 100%);
  transform: translate(0, 20%);
  bottom: 0;
  left: 15%;
  -webkit-animation: blink 15s infinite;
  -moz-animation: blink 15s infinite;
  -o-animation: blink 15s infinite;
  animation: blink 15s infinite;
}

.с-yellow {
  background: radial-gradient(32.48% 31.5% at 50% 50%, #F2F54B 0%, rgba(255, 236, 69, 0) 100%);
  bottom: 5%;
  right: 5%;
  -webkit-animation: blink 12s infinite;
  -moz-animation: blink 12s infinite;
  -o-animation: blink 12s infinite;
  animation: blink 12s infinite;
}
