@import "src/styles/main";

.welcome-input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid $border-light;
  width: 70%;
  text-align: center;
  padding: 2rem;
  margin-top: 3rem;
  outline: none;
  transition: all .3s;

  &:focus {
    border-bottom: 2px solid rgba(#fff, .5);

    &::placeholder {
      transform: translateY(-5px);
      opacity: 0;
      font-size: 1.2rem;
    }
  }
}

input::placeholder {
  color: $text-light;
  opacity: .3;
  font-size: 1.4rem;
  transition: all .3s;
}

input:hover {
  &::placeholder {
    opacity: .5;
  }
}

@media (max-width: 600px) and (min-width: 451px){
  .welcome-input {
    width: 90%;
  }
}

@media (max-width: 450px){
  .welcome-input {
    width: 90%;

    &:focus {
      &::placeholder {
        font-size: 1rem;
      }
    }
  }

  input::placeholder {
    font-size: 1.2rem;
  }
}
