<div class="page-container">
  <div class="logo-container">
    <app-logo></app-logo>
  </div>

  <div class="welcome-page-container">
    <div class="welcome-block align-center-col">
      <h1 class="title">Welcome!</h1>

      <p>Please enter your name and let's start our quiz!</p>
    </div>

    <form [formGroup]="quizForm" class="welcome-form align-center-col">
      <input class="welcome-input" formControlName="name" placeholder="{{'Type your name here...' | uppercase}}" />

      <app-button
        text="{{'Start quiz' | uppercase}}"
        icon="arrow_right_alt"
        [disabled]="quizForm.invalid"
        (buttonClick)="startQuiz(quizForm.value.name)"></app-button>
    </form>
  </div>
</div>
