.page-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.logo-container {
  position: absolute;
  top: 9rem;
  left: 50%;
  transform: translateX(-50%);
}

.welcome-page-container {
  background-color: #1B1D31;
  width: 110rem;
  height: 45rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8rem;
}

.align-center-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-block {
  gap: 1rem;
  width: 100%;
}

.welcome-form {
  gap: 3rem;
  width: 100%;
}

.title {
  font-family: 'Prompt', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 4.5rem;
}

.welcome-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #373B62;
  width: 70%;
  text-align: center;
  padding: 2rem;
  outline: none;
  transition: all .3s;
}

.welcome-input:focus {
  border-bottom: 2px solid rgba(#fff, .5);

  &::placeholder {
    transform: translateY(-5px);
    opacity: 0;
    font-size: 1.2rem;
  }
}

input::placeholder {
  color: #fff;
  opacity: .3;
  font-size: 1.4rem;
  transition: all .3s;
}

input:hover {
  &::placeholder {
    opacity: .5;
  }
}
