<div class="page-wrapper">
  <div class="logo-center">
    <app-logo></app-logo>
  </div>

  <div class="page-container-m align-center-col">
    <div class="w-100 gap-1 align-center-col">
      <h1 class="title-m">Welcome!</h1>

      <p class="text-m">Please enter your name and let's start our quiz!</p>
    </div>

    <form [formGroup]="quizForm" class="w-100 gap-3 align-center-col">
      <input class="welcome-input" formControlName="name" placeholder="{{'Type your name here...' | uppercase}}" />

      <app-button
        text="{{'Start quiz' | uppercase}}"
        icon="arrow_right_alt"
        [disabled]="quizForm.invalid"
        (buttonClick)="startQuiz(quizForm.value.name)"></app-button>
    </form>
  </div>
</div>
