.progress-bar-container {
  border-bottom: 2px solid #373B62;
  width: 100%;
  height: 4.3rem;
}

.progress-bar-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon:last-child {
  display: none;
}

.quiz-progress {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: rgba(#fff, .2);
  transition: all .2s;
  border-radius: 5px;
  overflow: hidden;

  .quiz-finished {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(90deg, rgba(167, 105, 195, 1) 90%, rgba(255,255,255,0) 100%);
    transition: width 1s;
  }
  .final-finished {
    background-color: rgba(167, 105, 195, 1);
  }

  .quiz-active {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(90deg, #cbd5e1 70%, rgba(255,255,255,0) 100%);
    transition: width 1s;
  }

  .final {
    background-color: #cbd5e1;
  }
}

.genre, .icon {
  transition: all .1s;
}

.active {
  font-weight: 700;
}

.finished {
  color: #DCA1F8;

  &:not(.icon) {
    font-weight: 700;
  }
}

@media (max-width: 500px) {
  .progress-bar-content {
    justify-content: space-evenly;
  }
}
