<div class="progress-bar-container" *ngIf="1">
  <div class="quiz-progress">
    <div
      *ngIf="!answered"
      [ngStyle]="{'width': currentWidth + '%'}"
      [ngClass]="currentWidth == 100 ? 'final' : ''"
      class="quiz-active"></div>

    <div
      [ngStyle]="{'width': (answered ? currentWidth : width) + '%'}"
      [ngClass]="width == 100 ? 'final-finished' : ''"
      class="quiz-finished"></div>
  </div>

  <ul class="progress-bar-content">
    <ng-container
      *ngFor="let tabData of data">
      <li [ngClass]="+tabData.id < activeTab ? 'finished' : '' || +tabData.id == activeTab ? 'active' : ''" class="genre">{{ tabData.genre | uppercase }}</li>
      <li [ngClass]="+tabData.id < activeTab ? 'finished' : ''" class="icon material-symbols-outlined">arrow_right_alt</li>
    </ng-container>
  </ul>
</div>
