@import "src/styles/main";

.union-container {
  position: absolute;
  width: 23rem;
  height: 23rem;
  top: -13.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.score {
  position: absolute;
  top: -7rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #373B62;
  border-radius: 100rem;
  width: 10rem;
  height: 10rem;
  font-size: 3.6rem;
}

.buttons-container {
  padding-top: 1rem;
  display: flex;
  gap: 2rem;
}

@media (max-width: 800px) {
  .buttons-container {
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media (max-width: 600px) and (min-width: 451px) {

  .score {
    top: -6rem;
    width: 9rem;
    height: 9rem;
    font-size: 3rem;
  }

  .union-container {
    width: 21rem;
    height: 21rem;
    top: -12rem;
  }
}

@media (max-width: 450px) {
  .score {
    top: -5rem;
    width: 8rem;
    height: 8rem;
    font-size: 3rem;
  }

  .union-container {
    width: 19rem;
    height: 19rem;
    top: -10.5rem;
  }
}
