<div class="page-wrapper">
  <div class="logo-center">
    <app-logo></app-logo>
  </div>

  <div class="pos-rel">
    <div class="union-container">
      <img class="w-100" src="assets/img/union.png" alt="">
    </div>

    <div class="page-container-m pos-rel align-center-col gap-2 z-1">

      <div class="score">
        {{ score }}
      </div>

      <h2 class="title-m">{{ name | titlecase }}, {{ score >= tabsAmount * 3 - 2 ? 'did so great!' : 'you can do better, try again!' }}</h2>

      <p class="text-m">You've got {{ score }} of {{ tabsAmount * 3 }}. {{score >= tabsAmount * 3 - 2 ? 'You are definitely a music lover!' : null }}</p>

      <div class="buttons-container">
        <app-button (buttonClick)="anotherPlayer()" text="Another player"></app-button>
        <app-button (buttonClick)="playAgain()" text="Play again" icon="arrow_right_alt"></app-button>
      </div>
    </div>
  </div>
</div>
