@import "src/styles/main";

.union-container {
  position: absolute;
  width: 23rem;
  height: 23rem;
  top: -13.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.score {
  position: absolute;
  top: -7rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #373B62;
  border-radius: 100rem;
  width: 10rem;
  height: 10rem;
  font-size: 3.6rem;
}

.buttons-container {
  padding-top: 1rem;
  display: flex;
  gap: 2rem;
}
