/* You can add global styles to this file, and also import other style files */

@import "styles/main-styles";
@import "styles/colors";

* {
  color: #fff;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 10px;
}

body {
  font-family: Arial, sans-serif;
  background-color: $bg-app;
}

ul {
  list-style: none;
}

@media (max-width: 800px) and (min-width: 451px){
  html {
    font-size: 9px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 8px;
  }
}
